*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
div:first-child{
    margin-top: 1%;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-left: 10%;
    background-color: rgba(0, 0, 0,0.5);
    border-radius: 20px;

}
header img{
    width: 15%;
    padding-top: 7%;
}
header{
    font-size: 80%;
    color: rgb(0, 221, 0);
    text-align: center;
}
nav{
    background-color: rgb(0, 221, 0);
    padding: 1%;
    margin-inline: 7%;
    text-align: center;
}
main section{
    padding-top: 1%;
    padding-right: 50%;
    padding-left: 7%;
    color: white;
}
section:last-child{
    padding-bottom: 7%;
}
section span:first-of-type{
    font-size: x-large

 }
section span:nth-child(4)::before{
    content: "\2907";
}
section>div{
    border-radius: 5px;
    padding-right: 20%;
    padding-bottom: 5%;
    padding-left: 7%;
}
#carica1{
    background-color: orange;
    width: 40%;
}
#carica2{
    background-color: green;
    width: 95%;
}
#carica3{
    background-color: red;
    width: 5%;
}


 